.appForm {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 505px;
    min-height: 475px;
    background-color: white;
    padding: 65px 60px;
    color: #747474;
    font-size: 15px;
}

.appForm:before {
    position: absolute;
    top: 50%;
    right: 100%;
    content: '';
    display: block;
    background-image: url('../../assets/images/logo.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 50px;
    transform: translate(-50%, -50%);
}


.formTitle {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

.formSuggestion {
    font-size: 16px;
    margin-bottom: 20px;
}

.formLink {
    color: #0074ea;
    text-decoration: none;
}

.formRow {
    display: flex;
    margin-bottom: 35px;
}

.formLabel {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 15px;
}

.formLabel:last-child {
    margin-right: 0;
}

.formInput {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
    padding: 7px 0;
    font-size: 15px;
}

.formLabel:hover .formInput {
    border-bottom-color: #0074ea;    
}

.formInput:active,
.formInput:focus {
    outline: none;
    border-bottom-color: #ffc700;
}


