.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("../../assets//images/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    overflow: hidden;
}